<!DOCTYPE html>
<html>
<head>
  <title>DesifAbrasf</title>
  <%= stylesheet_link_tag    "desif_abrasf/application", media: "all" %>
  <%= javascript_include_tag "desif_abrasf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
